$pageWidth:1170px;
$navHeight:64px;
$mainBoxWidth:798px;
$sidebarWidth:356px;
$themeColor:#5c87d9;
$mainFontColor:#212121;
$assistFontColor:#878787;
$lineColor:#eeeeee;
$bannerWidth:$mainBoxWidth;
$bannerHeigth:202px;
$payColor:#f76363;
$freeColor:#73d321;