@import "../comment/init";
@import "../comment/constants";
@import "../comment/header";
@import "../comment/body";
@import "../comment/footer";




.main{
    .wrapper{
        .main-content-wrapper{
            .banner-group{
                width: 100%;
                height: $bannerHeigth;
                background: red;
                position: relative;
                overflow: hidden;
                z-index: 0;

                .banner-ul{
                    overflow: hidden;
                    width: $bannerWidth*4;
                    position: absolute;
                    left: 0;
                    li{
                        float: left;
                        width: $bannerWidth;
                        height: $bannerHeigth;

                        img{
                            width: $bannerWidth;
                            height: $bannerHeigth;
                        }
                    }
                }

                .arrow{
                  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                  font-size: 70px;
                  color: #fff;
                  position: absolute;
                  top: 50%;
                  margin-top: -45px;
                  cursor: pointer;
                  display: none;
                }

                .left-arrow{
                  left: 25px;
                }

                .right-arrow{
                  right: 25px;
                }

                .page-control-group{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20px;

                    .page-control{
                        margin: 0 auto;
                        overflow: hidden;
                        width: 10px*4+8px*2+16px*3;

                        li{
                            width: 10px;
                            height: 10px;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            float: left;
                            margin: 0 8px;
                            box-sizing: border-box;
                            cursor: pointer;
                            &.active{
                                background: #fff;
                            }
                        }
                    }

                }
            }


        }
    }
}


.main{
    .wrapper{
        .main-content-wrapper{
            .list-outer-group{
                background: #fff;
                margin-top: 14px;

                .list-tab{
                    height: 66px;
                    width: 100%;
                    overflow: hidden;
                    border: 1px solid #eee;
                    border-left: none;
                    border-right: none;

                    li{
                        float: left;
                        padding: 0 10px;
                        //line-height: 66px;
                        margin-top: 20px;
                        a{
                            color: #878787;
                        }
                        &:first-of-type {
                            border-left: 5px solid #5c87d9;
                        }

                        &.active{
                            a{
                                color: #212121;
                            }
                        }

                    }
                }

                .list-inner-group{
                    li{
                        padding: 20px;
                        border-bottom: 1px solid #eee;
                        overflow: hidden;

                        .thumbnail-group{
                            float: left;
                            width: 226px;
                            height: 162px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .news-group{
                            float: right;
                            width: 504px;
                            height: 162px;
                            position: relative;

                            .title{
                                a{
                                    color: #212121;
                                    &:hover{
                                        color: $themeColor;
                                    }
                                }
                                font-size: 22px;
                            }

                            .desc{
                                font-size: 14px;
                                color: #878787;
                                margin-top: 10px;

                            }
                            .more{
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                font-size: 14px;
                                color: #878787;
                                .category{
                                    color: $themeColor;
                                }
                                .pub-time{
                                    float: right;
                                    margin-left: 20px;
                                }
                                .author{
                                    float: right;
                                }
                            }
                        }
                    }
                }

                .load-more-group{
                    padding: 20px 0;
                    height: 100px;
                    text-align: center;
                    .load-more{
                        width: 402px;
                        height: 40px;
                        background: #d2dcea;
                        color: #6d85ac;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }

                }


            }


        }
    }
}









