<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../dist/css/news_detail.min.css">
</head>
<body>
    <div class="header">
        <div class="content">
        <div class="logo-box">
            <a href="/"></a>
        </div>

        <div class="nav">
            <ul>
                <li class="active"><a href="/">创业资讯</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费资讯</a></li>
                <li><a href="#">搜索</a></li>
            </ul>
        </div>

        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>
        </div>
    </div>
    </div>

    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="news-wrapper">
                    <h1 class="title">新闻详情页标题</h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author">福禄娃</span>
                            <span class="pub-time">06月03日</span>
                            <span class="category">热点</span>
                        </div>
                        <div class="share-group">
                            <span>分享至：</span>
                            <a class="weixin share-item"></a>
                            <a href="#" class="weibo share-item"></a>
                        </div>
                    </div>
                    <div class="article">
                        习近平，男，汉族，1953年6月生，陕西富平人，1969年1月参加工作，1974年1月加入中国共产党，清华大学人文社会学院马克思主义理论与思想政治教育专业毕业，在职研究生学历，法学博士学位。
现任中国共产党中央委员会总书记，中共中央军事委员会主席，中华人民共和国主席，中华人民共和国中央军事委员会主席。
                    </div>



                </div>

                <div class="comment-wrapper">
                    <h3 class="title">文章评论(0)</h3>
                    <textarea name="comment" id="" class="comment-textarea logined-textarea" placeholder="立即登录，参与评论~" ></textarea>
                    <div class="submit-btn-group">
                        <button class="submit-btn">立即评论</button>
                    </div>

                    <ul class="comment-list">
                        <li>
                            <div class="comment-info">
                                <img src="" alt="" class="avatar">
                                <span class="author">小知了</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <div>
                                <p class="comment-content">这是第一条评论</p>
                            </div>
                        </li>
                        <li>
                            <div class="comment-info">
                                <img src="" alt="" class="avatar">
                                <span class="author">小知了</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <div>
                                <p class="comment-content">这是第一条评论</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a class="more" href="#">更多</a>
                </div>
                <div class="advertise-group">
                    <a href=""><img src="https://static-image.xfz.cn/1554346512_613.jpg-seriescourse.list" alt=""></a>
                </div>

                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注小饭桌</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="zhihu"><a href="" target="_blank">小饭桌创业课堂</a></li>
                            <li class="weibo"><a href="" target="_blank">小饭桌创业课堂</a></li>
                            <li class="toutiao"><a href="" target="_blank">小饭桌</a></li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫码关注</p>
                        </div>
                    </div>
                </div>

                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                            <p class="title"><a href="">标题。。</a></p>
                            <p class="more"><span class="category">深度报道</span>
                            <span class="pub-time">1小时前</span>
                            </p>
                        </div>

                        <div class="right-group">
                            <a href=""><img src="https://static-image.xfz.cn/1513648695_27.jpg-course.list.small" alt=""></a>
                        </div>
                        </li>
                        <li>
                            <div class="left-group">
                            <p class="title"><a href="">标题。。</a></p>
                            <p class="more"><span class="category">深度报道</span>
                            <span class="pub-time">1小时前</span>
                            </p>
                        </div>

                        <div class="right-group">
                            <a href=""><img src="https://static-image.xfz.cn/1513648695_27.jpg-course.list.small" alt=""></a>
                        </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="top-group">
            <div class="top-inner-group">
                <div class="logo-box">

                </div>

                <div class="detail-box">
                    <div class="line1">
                        <ul class="links">
                            <li><a href="">关于小饭桌</a></li>
                            <li><a href="">创业课堂</a></li>
                            <li><a href="">寻求报道</a></li>
                            <li><a href="">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们：</span>
                            <ul class="social-group">
                                <li class="weixin">
                                    <div class="wx-qrcode">

                                    </div>
                                    <span class="text">xfx008</span>
                                </li>
                                <li class="weibo"><a  href="#" class="text">小饭桌创业课堂</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line2">
                        <p class="address">地址：</p>
                        <p class="contact">联系方式：</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-group">
            @2107 北京子要投资顾问有限公司
        </div>
    </div>
</body>
</html>